@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #4C4A5C;
    padding: 0;
}

.container{
    width: 90%;
    margin: auto;
    background-color: rgb(34, 41, 61);
    padding: 30px;
}

.index-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: rgb(255, 179, 198);
    border: 2px rgba(255, 179, 198, 0.1) solid;
    padding: 14px 15px;
    padding-left: 0;
}

.logo{
    flex: 2;
}

.logo-link{
    text-decoration: none;
    color: rgb(255, 179, 198);
    font-weight: lighter;
    border:rgb(255, 179, 198) solid 3px;
    padding: 20px 0 17px 15px;
    border-right: none;
}

.logo-link:hover{
    color: rgba(255, 179, 198, 0.7);
    border:rgba(255, 179, 198, 0.7) solid 3px;
    border-right: none;
}

.logo-strong{
    font-family: 'B612', sans-serif;
    font-size: 25px;
}

nav{
    flex: 1;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color: rgb(255, 179, 198);
}

.nav-link:hover{
    color: rgba(255, 179, 198, 0.7);
    border-bottom: rgba(255, 179, 198, 0.7) solid 3px;
    padding-bottom: 19px;
}

.active{
    border-bottom: rgb(255, 179, 198) solid 3px;
    padding-bottom: 19px;
}

.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('./image/abstract1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    margin: 30px auto;
    width: 100%;
    height: 80vh;
    color: rgb(44, 45, 61);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro-self{
    background-color: rgba(255, 179, 198, 0.5);
    padding: 30px;
    line-height: 1.5;
    width: 100%;
}

.intro-detail{
    font-size: 20px;    
    padding: 15px;
}

.intro-detail a{
    background-color: rgba(255, 179, 198);
    text-decoration: none;
    color: rgb(34, 41, 61);
    border: 3px solid rgba(34, 41, 61);
    padding: 14.5px;
}

.intro-detail a:hover{
    background-color: rgba(255, 179, 198, 0.8);
    color: rgb(37, 38, 51);
    padding: 14.5px;
    border: 3px solid rgb(37, 38, 51);
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    margin: auto;
}

.project{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    
    border: 3px solid rgb(255, 179, 198);
    background-color: white;
    width: 50%;
    height: 50vh;
    padding: 20px;
}

.project-1{
    background-image: url('./image/abstract2.png');
}
.project-2{
    background-image: url('./image/abstract1.jpg');
}
.project-3{
    background-image: url('./image/intro-img.jpg');
}
.project-4{
    background-image: url('./image/abstract2.png');
}

.project-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    color: rgb(255, 179, 198);
}

.project-discription{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(44, 45, 61);
}

.project-btn{
    background-color: rgb(44, 45, 61);
    border: 3px solid rgb(255, 179, 198);
    padding: 10px 20px;
}

.project-btn:hover{
    color: rgba(255, 179, 198, 0.6);
    border: 3px solid rgba(255, 179, 198, 0.6);
}

.index-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 179, 198);
    border: 2px rgba(255, 179, 198, 0.1) solid;
    margin-top: 30px;
}

.trademark{
    text-transform: uppercase;
    border: 3px solid rgb(255, 179, 198);
    border-right: 0px;
    padding: 20px 0px 19px 15px;
}

.socials{
    border: 3px solid rgb(255, 179, 198);
    border-left: 0px;
    padding: 15px 15px 13px 0px;
}

.social{
    background-color: rgb(255, 179, 198);
    padding: 1px;
    width: 25px;
    height: 25px;
}

.social:hover{
    background-color: rgba(255, 179, 198, 0.5);
}

@media only screen and (max-width: 1030px){
    .project{
        height: 40vh;
    }
}

@media only screen and (max-width: 900px)
and (orientation: landscape){
    .container{
        width: 100%;
    }
    .index-head{
        flex-direction: column;
        padding: 0 18px 18px 18px;
    }
    .logo{
        border:rgb(255, 179, 198) solid 3px;
        border-width: 0px 0px 3px 0px;
        padding: 15px 0px 15px 0px;
    }
    
    .logo-link{
        border: 0;
        padding: 0;
    }
    .logo-link:hover{
        color: 0;
        border: 0;
    }
    .logo:hover{
        color: rgba(255, 179, 198, 0.7);
        border-bottom: rgb(255, 179, 198, 0.7) solid 3px;
    }
    
    .nav-links{
        width: 70vw;
        margin-top: 20px;
    }
    
    .nav-link:hover{
        padding-bottom: 17px;
    }
    
    .active{
        padding-bottom: 17px;
    }

    .index-footer{
        flex-direction: column-reverse;
    }

    .socials{
        border-width: 0px 0px 3px 0px;
        padding: 0px 0px 20px 0px;
        margin: 20px 0px 0px 0px;
    }

    .trademark{
        border-width: 0px 0px 3px 0px;
        padding: 20px 0px 20px 0px;
    }
}

@media screen and (max-width: 800px){
    .container{
        width: 100%;
    }
    .index-head{
        flex-direction: column;
        padding: 0 18px 18px 18px;
    }
    .logo{
        border:rgb(255, 179, 198) solid 3px;
        border-width: 0px 0px 3px 0px;
        padding: 15px 0px 15px 0px;
    }
    
    .logo-link{
        border: 0;
        padding: 0;
    }
    .logo-link:hover{
        color: 0;
        border: 0;
    }
    .logo:hover{
        color: rgba(255, 179, 198, 0.7);
        border-bottom: rgb(255, 179, 198, 0.7) solid 3px;
    }
    
    .nav-links{
        width: 70vw;
        margin-top: 20px;
    }
    
    .nav-link:hover{
        padding-bottom: 17px;
    }
    
    .active{
        padding-bottom: 17px;
    }
    
    .introduction{
        height: 71vh;
    }
    
    .intro-self{
        line-height: 1.3;
        font-size: 25px;
    }
    
    .intro-detail a{
        padding: 12px;
        font-size: 16px;
    }
    
    .intro-detail a:hover{
        padding: 12px;
    }

    .project{
        padding: 10px;
        font-size: 15px;
        width: 40vw;
        height: 35vh;
    }

    .index-footer{
        flex-direction: column-reverse;
    }

    .socials{
        border-width: 0px 0px 3px 0px;
        padding: 0px 0px 20px 0px;
        margin: 20px 0px 0px 0px;
    }

    .trademark{
        border-width: 0px 0px 3px 0px;
        padding: 20px 0px 20px 0px;
    }
}


@media only screen and (max-width: 780px){
    .logo{
        margin-top: 0;
    }
    .introduction{
        padding: 5px;
        height: 75vh;
    }
    
    .nav-links{
        font-size: 14px;
    }

    .intro-self{
        font-size: 18px;
        line-height: 1.3;
        padding: 14px;
    }
    
    .project{
        width: 100vw;
        height: 40vh;
        padding: 5px;
        font-size: 12px;
    }

    .trademark{
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px){
    .project{
        line-height: 1.4;
        font-size: 14px;
        height: 45vh;
    }
}

@media only screen and (max-height: 650px)
and (orientation: landscape){
    .nav-link{
        font-size: 14px;
    }
    .introduction{
        padding: 10px;
        height: 100vh;
        font-size: 19px;
    }
    .intro-detail{
        font-size: 16px;
    }
    .project{
        line-height: 1.4;
        font-size: 14px;
        padding: 5px;
        width: 44vw;
        height: 50vh;
    }
}
@media only screen and (max-height: 450px)
and (orientation: landscape){
    .project{
        font-size: 14px;
        width: 55vw;
        height: 70vh;
    }
}